# Copier en .env et adapter les valeurs
# cp .env.example .env

# PostgreSQL DWH
DB_PASSWORD=RGHgv5#Kp9mX2wQl

# pgAdmin (profil: admin)
PGADMIN_PASSWORD=admin123

# Apache Superset (profil: bi)
# Accès : http://localhost:8088  admin / Admin1234
